.container {
    padding: 20px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.red {
    color:rgb(243, 65, 59)
}

.blue {
  color: rgb(28, 108, 212)
}

.green {
    color:rgb(36, 173, 36)
}

