.container {
    padding: 20px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.red {
    color:rgb(243, 65, 59)
}

.blue {
  color: rgb(28, 108, 212)
}

.green {
    color:rgb(36, 173, 36)
}

.grey {
    color: #586069;
}

.docs-footer {
    padding: 12px;
    font-size: 12px;
    margin-top: 40px;
  }
  
  .docs-footer-list {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
  }
  
  .docs-footer-logo {
    flex: 1;
  }
  
  .docs-footer-angular-logo {
    height: 50px;
  }
  
  .docs-footer-copyright {
    flex: 1;
    justify-content: flex-end;
    flex-direction: column;
    min-width: 225px;
    margin-bottom: 16px;
    font-size: 10px;
    align-items: center;
  
    > div {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      text-align: center;
    }
  
    @media (min-width: 885px) {
      margin-top: 0;
    }
  }
  